.add-margin-bottom {
    margin-bottom: 20px;
}

.add-margin-top {
    margin-top: 20px;
}

.divider {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.text-justify {
    text-align: justify;
}