<html>
  <head>
    <title>An Awesome Website</title>
    <link rel="stylesheet" href="/public/css/main.css" />
  </head>
  <body>
    <nav>
      <div class="container">
        <div class="logo">
          <a href="/">
            <img src="/public/img/logo.png" />
          </a>
        </div>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
              <a href="/">Web</a>
            </li>
            <li>
                <a href="/">Mobile</a>
              </li>
              <li>
                  <a href="/">Gaming</a>
                </li>
                <li>
                    <a href="/">AI</a>
                  </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="main-banner">
        <h1 class="title">This is our awesome title for our medium style blog!!</h1>
      </div>
    </div>
  </body>
</html>